.events-list {
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(max(min(20vw, 330px), 220px), 1fr)
    );
    gap: max(min(3vw, 44px), 20px);
}

.events-list__event-link {
    color: var(--black-900);

    &:visited {
        color: var(--black-900);
    }
}

.events-list__event-image {
    width: 100%;
    height: max(min(33vh, 400px), 250px);
    object-fit: cover;
    object-position: center;
    margin-bottom: 16px;
    opacity: 0.75;
    transition: opacity 0.3s ease-in-out;
    background-color: var(--gray-300);

    &:hover {
        opacity: 1;
    }
}

.events-list__event-name {
    font-weight: bold;
    margin-bottom: 8px;
}
