<ul v-if="events && events.length" class="events-list list-unstyled p-0 ml-0">
  <li class="events-list__event" v-for="event of events" :key="event.id">
   <router-link :to="{name: 'event-details', params: {id: event.id}}" class="events-list__event-link"> 
      <img class="events-list__event-image" :src="event.image" alt="" aria-hidden="true" lazy="true">
      <p class="events-list__event-name">{{event.name}}</p>
      <p><address>{{event.location}}</address></p>
   </router-link>
  </li>
</ul>

